* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-image: url(back1.webp);
    background-repeat: no-repeat;
    background-size: cover;
  background-color: none;
  /* width: 100%;
  height: 100%; */
  color: #000;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main{
    /* border: 2px solid rgb(177, 142, 177); */
    box-shadow: 4px 4px 4px 6px rgb(106, 65, 106);
    /* text-align: center; */
    margin-top: 50px;
    background-color: #ebeaea;
    width: 380px;
    height: 480px;
    border-radius: 6px;
}
h2{
  margin-top: 20px;
  margin-bottom: 0px;
    font-size: 25px;
    color: rgb(120, 57, 120);
}
 .form{
   padding: 20px;
 }
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 1.5rem auto;
}


.inp
 {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.inp:focus
 {
  border-color: rgb(120, 57, 120);
  box-shadow: 0 0 5px rgb(106, 65, 106);
}

.btn {
  padding: 12px;
  background: rgb(120, 57, 120);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: rgb(106, 65, 106);
}
#message {
      margin-top: 15px;
      /* color: blueviolet; */
      font-weight: bold;
    }